In [22]:
import pandas as pd

df = pd.read_csv('data/Thesis Data.csv', encoding='latin-1')

columns_with_missing_values = df.columns[df.isnull().any()].tolist()

# Forward fill the columns with missing values
for column in columns_with_missing_values:
    df[column] = df[column].ffill()
    

df[:700]

,STREET NAME/SUBD/CONDO,VICINITY,CLASSIFICATION,Fair Value Estimate Lot,BARANGAY
0,AGUINALDO ST.,NORTH DR TO 28TH ST (PREVIOUSLY NORTH DR TO 29...,RR,15275,BARANGAY: 1 ZONE 1
1,AGUINALDO ST.,NORTH DR TO 28TH ST (PREVIOUSLY NORTH DR TO 29...,CR *,29900,BARANGAY: 1 ZONE 1
2,GATUSLAO ST,NORTH DR TO 29TH ST,RR,13000,BARANGAY: 1 ZONE 1
3,GATUSLAO ST,NORTH DR TO 29TH ST,CR *,29900,BARANGAY: 1 ZONE 1
4,LACSON ST,NORTH DR TO MANDALAGAN (BRIDGE),CR,85800,BARANGAY: 1 ZONE 1
...,...,...,...,...,...
695,LIZARES SUBD.,(BLOCKS 19-26),RR ****,3120,BARANGAY: ALIJIS
696,NEGRENSE SUBD.,(BLOCKS 19-26),RR ****,3120,BARANGAY: ALIJIS
697,GALA SUBD (TANGUB),(BLOCKS 19-26),RR,2080,BARANGAY: ALIJIS
698,GREEN PLAINS III,(BLOCKS 19-26),RR,#VALUE!,BARANGAY: ALIJIS
699,MBA VILLAGE,(BLOCKS 19-26),RR,3640,BARANGAY: ALIJIS